* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr--white: rgb(241, 250, 238);
  --clr--grey: rgb(140, 151, 169);
  --clr--red: rgb(230, 57, 70);
  --clr--lightBlue: rgba(168, 218, 220);
  --clr--midBlue: rgb(69, 123, 157);
  --clr--darkBlue: rgb(29, 53, 87);
}

* {
  list-style: none;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  height: 100vh;
  font-size: 62.5%;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

i {
  color: var(--clr--grey);
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--clr--red);
  font-size: 1.25rem;
  padding: 10px 0;
}

li,
p {
  color: var(--clr--grey);
  font-size: 0.75rem;
}
.view li {
  list-style: square;
  margin-left: 20px;
}

i {
  font-size: 2rem;
}
/* ////////////////////////////////////// */

.background-image {
  width: 100%;
  height: 100%;
  background-image: url(./resume-bg1.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: 1;
}
.background-image-cover {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(15, 30, 51) 0%,
    hsla(215, 50%, 23%, 0.8)
  );
  position: absolute;
  z-index: 1;
}
.view {
  width: 90%;
  margin: 30px auto;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 10px 10px rgb(44, 75, 119);
  overflow-y: scroll;
  color: var(--clr--grey);
  height: 80vh;
  padding: 20px;
}

.view::-webkit-scrollbar {
  width: 10px;
}
.navbar-section {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(29, 53, 87);
  height: 70px;
  position: relative;
  z-index: 10;
  box-shadow: 5px 5px 10px 10px rgb(44, 75, 119);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  height: 70px;
  text-align: center;
  width: 100px;
  padding: 10px;
  font-size: 3rem;
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 6;
  box-shadow: 5px 5px 10px 10px rgb(44, 75, 119);
  border: none;
  background: transparent;
  -webkit-text-stroke: 1px rgb(253, 253, 253);
  color: rgba(255, 255, 255, 0.1);
  font-family: "Comforter Brush", cursive;
  display: none;
}
.developers-name {
  color: white;
  font-size: 10rem;
  height: 5rem;
  position: absolute;
  bottom: 100px;
  right: 200px;
  z-index: 2222;
  font-family: "Comforter Brush", cursive;
  display: none;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.navbar-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBtn {
  color: var(--clr--grey);
  font-size: 0.6rem;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
}
.navBtn:hover {
  color: rgb(81, 115, 169);
  transition: all 0.6s;
}
.poem-author-name {
  background: transparent;
  -webkit-text-stroke: 1px red;
  color: transparent;
}

.landing-box p {
  margin: 20px 0;
}
.box1 {
  animation: bounceFromRight 3s ease-in 1;
}
.box2 {
  animation: bounceFromLeft 3s ease-in 1;
}
@keyframes bounceFromRight {
  0% {
    transform: translate(1000px);
    opacity: 0;
  }
  50% {
    transform: translate(-100px);
    opacity: 0.5;
  }
  75% {
    transform: translate(200px);
    opacity: 0.7;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes bounceFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.video-container {
  width: 60vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
video {
  width: 90%;
  position: relative;
}
.icons-container {
  position: absolute;
  display: none;
}
.video-container:hover .icons-container {
  display: block;
}
#full-name {
  color: var(--clr--grey);
  font-family: "Comforter Brush", cursive;
  letter-spacing: 20px;
  text-align: center;
  font-size: 2rem;
}
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.employer-position-time {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  margin: 0;
  padding: 0;
  background: var(--clr--darkBlue);
}
.each-job-details {
  margin-bottom: 40px;
}
.cover-container {
  padding: 50px 10px;
  line-height: 1.5rem;
}

#signature {
  font-style: italic;
  line-height: 3rem;
  margin-top: 30px;
}

.reference-galery {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reference-galery img {
  width: 200px;
}
.reference-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reference-galery a {
  padding: 5px;
  display: block;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.project {
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project a {
  color: white;
  width: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
#project-one {
  animation: bounceFromRight 3s ease-in 1;
}
#project-two {
  animation: bounceFromLeft 3s ease-in 1;
}
#project-three {
  animation: bounceFromRight 3s ease-in 1;
}
#project-four {
  animation: bounceFromLeft 3s ease-in 1;
}
#project-five {
  animation: bounceFromRight 3s ease-in 1;
}
#project-six {
  animation: bounceFromLeft 3s ease-in 1;
}
#ancher-one {
  animation: bounceFromRight 4s ease-in 1;
}
#ancher-two {
  animation: bounceFromLeft 4s ease-in 1;
}
#project-one a {
  box-shadow: 5px 5px 10px 10px rgb(230, 57, 70);
}
#project-two a {
  box-shadow: 5px 5px 10px 10px rgb(44, 75, 119);
}
#project-three a {
  box-shadow: 5px 5px 10px 10px rgb(241, 250, 238);
}
#project-four a {
  box-shadow: 5px 5px 10px 10px rgb(230, 57, 70);
}
#project-five a {
  box-shadow: 5px 5px 10px 10px rgb(44, 75, 119);
}
#project-six a {
  box-shadow: 5px 5px 10px 10px rgb(241, 250, 238);
}
.form-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 500px;
}
input,
.btn-contact {
  display: block;
}
input,
textarea {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 10px 2rem 10px 5px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin: 20px auto;
  text-align: center;
}
#contact-input::placeholder {
  color: white;
}
#btn-contact {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-media-icons {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
}
@media screen and (min-width: 600px) {
  .reference-galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1098px) {
  .background-image {
    width: 80%;
  }
  .background-image-cover {
    background: linear-gradient(
      to right,
      rgb(15, 30, 51) 25%,
      hsla(215, 50%, 23%, 0.8)
    );
  }
  .view {
    width: 80%;
  }
  .navbar-section {
    width: 80%;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1375px) {
  .background-image {
    width: 70%;
  }
  .background-image-cover {
    background: linear-gradient(
      to right,
      rgb(15, 30, 51) 35%,
      hsla(215, 50%, 23%, 0.8)
    );
  }
  .view {
    width: 70%;
  }
  .navbar-section {
    width: 70%;
  }
  .developers-name {
    display: block;
  }
}
@media screen and (min-width: 1500px) {
  .background-image {
    width: 60%;
  }
  .background-image-cover {
    background: linear-gradient(
      to right,
      rgb(15, 30, 51) 40%,
      hsla(215, 50%, 23%, 0.8)
    );
  }
  .view {
    width: 60%;
  }
  .navbar-section {
    width: 60%;
  }
  .reference-galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1800px) {
  .background-image {
    width: 40%;
  }
  .background-image-cover {
    background: linear-gradient(
      to right,
      rgb(15, 30, 51) 60%,
      hsla(215, 50%, 23%, 0.8)
    );
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 2000px) {
  .background-image {
    width: 30%;
  }
  .background-image-cover {
    background: linear-gradient(
      to right,
      rgb(15, 30, 51) 70%,
      hsla(215, 50%, 23%, 0.8)
    );
  }
}
