* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("./img/pexels-photo-325185.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

.game-container {
  width: 60rem;
  height: 60rem;
  box-shadow: 0 0 8px black;
  margin: 50px auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  width: 10rem;
  height: 10rem;
  background: transparent;
  border: 1px solid white;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
